dj-database-url
dj-static
Django
django-bootstrap3
flake8
gunicorn
mccabe
psycopg2
pycodestyle
pytz
static3
pytest
django-taggit
Markdown
django-haystack
pysolr
pillow
python-social-auth
social-auth-app-django
sorl-thumbnail
redis